.product-detail .tab-content img {
    max-width: 100% !important;
    height: auto !important
}

.product-detail .left .name {
    font-weight: bold;
    color: #005995;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px
}

@media (max-width: 991px) {
    .product-detail .left .name {
        margin-top: 10px
    }
}

.product-detail .left ul.params {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 30px 0 0 0;
    position: relative;
    float: none;
    font-size: 12px;
    background: #f5f9fa
}

.product-detail .left ul.params.price_desc {
    margin: 10px 0 0
}

.product-detail .left ul.params:after {
    content: "";
    display: block;
    clear: both
}

.product-detail .left ul.params li {
    padding: 2px 5px;
    float: left;
    width: 50%
}

.product-detail .left ul.params li.dyn, .product-detail .left ul.params li.ct {
    float: none;
    width: auto
}

.product-detail .left ul.params li.ct {
    display: none;
    border-bottom: 1px solid #eee;
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px
}

.product-detail .left ul.params li.separator {
    float: none;
    width: auto;
    clear: both;
    border-bottom: 1px solid #eee;
    margin-left: 5px;
    margin-right: 5px
}

.product-detail .left ul.params li.btt {
    position: absolute;
    padding: 0;
    top: -20px;
    left: 0;
    color: #999;
    float: none;
    width: auto;
    font-size: 12px
}

.product-detail .left ul.params li .v, .product-detail .left ul.params li .n {
    display: inline-block;
    vertical-align: middle
}

.product-detail .left ul.params li .v {
    color: #337ab7
}

.product-detail .left .stt-war {
    padding: 7px 0;
    border-bottom: 1px solid #eee
}

.product-detail .left .stt-war .group {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}

.product-detail .left .stt-war .group span {
    border-radius: 2px;
    background: #005995;
    display: inline-block;
    vertical-align: middle;
    padding: 1px 7px;
    color: #fff;
    font-size: 12px;
    font-weight: bold
}

.product-detail .left .stt-war .group span.w {
    background: #a5bac8
}

.product-detail .left .cart-opts {
    margin: 20px 0 0
}

.product-detail .left .cart-opts .add-to-cart {
    margin-left: 15px
}

.product-detail .left .cart-opts .form-control {
    padding-left: 0;
    padding-right: 0;
    width: 36px
}

.product-detail .left .cart-opts .input-group-addon {
    cursor: pointer
}

@media (max-width: 767px) {
    .product-detail .left .cart-opts .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .product-detail .left .cart-opts .input-group .input-group-addon, .product-detail .left .cart-opts .input-group .input-group-btn {
        width: auto
    }

    .product-detail .left .cart-opts .input-group .form-control {
        width: 36px
    }
}

.product-detail .right img {
    max-width: 100%
}

.product-detail .top {
    margin-bottom: 30px
}

.product-detail .hotline {
    background: #005995;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px
}

.product-detail .hotline a {
    color: #fff
}

.product-detail .tabs .nav-tabs > li > a {
    font-weight: bold;
    font-size: 14px
}

.product-detail .tabs .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 15px;
    line-height: 26px
}

.product-detail .tags ul {
    margin: 7px 0 0
}

.product-detail .tags ul li {
    float: left
}

.product-detail .tags ul li a {
    display: inline-block;
    padding: 3px 5px;
    background: #eee;
    margin: 0 7px 7px 0;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #666
}

.product-detail .tags ul li a:hover {
    background: #2b669a;
    color: #fff;
    text-decoration: none
}

.product-detail .note {
    background-image: linear-gradient(to right, #ffffff, #e9f8f9);
    padding: 10px;
    color: #000;
    font-size: 13px;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #c6d0d3
}

.product-detail .fb-share {
    float: left
}

.product-detail .shares {
    float: right
}

.product-detail .shares span {
    box-sizing: content-box
}

.product-detail .shares > span.st_sharethis_hcount .stArrow {
    display: none
}

.product-detail .shares > span:last-child .stButton {
    margin-right: 0
}

.product-detail .shares > span:last-child .stButton .stHBubble {
    margin-right: 0
}

.product-detail .model_list {
    margin: 0;
    padding: 5px 0 0
}

.product-detail .model_list li {
    display: inline-block;
    background: #e9e9e9;
    margin: 5px 5px 0 0;
    padding: 5px 7px;
    color: #2d5485;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer
}

.product-detail .model_list li.active {
    background: #2d5485;
    color: #fff
}

.product-detail .model_list li h2, .product-detail .model_list li h3, .product-detail .model_list li h4 {
    font-size: 14px;
    padding: 0;
    margin: 0
}

.box_document {
    background: none;
    padding: 15px 15px 5px
}

.box_document h4 {
    font-size: 13px;
    line-height: 18px
}

.box_document h4:after {
    content: "";
    display: block;
    clear: both
}

.box_document h3 {
    font-size: 14px;
    margin: 0 0 15px
}

.box_document h4 img {
    width: 12%;
    float: left;
    margin-right: 10px;
    padding: 2px;
    border: 1px solid #eee;
    border-radius: 2px
}

.well.box-support {
    padding: 10px 15px !important;
    background: none
}

.well.box-support .btt {
    margin: 0;
    padding: 0 0 5px;
    font-size: 18px
}

.well.box-support ul {
    margin: 0
}

.well.box-support ul li {
    position: relative;
    padding: 7px 0;
    padding-left: 50px
}

.well.box-support ul li .icon {
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 7px;
    color: #1f5489;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    padding-top: 3px
}

.well.box-support ul li strong {
    font-size: 16px
}

.carpopup .carpopup-foot {
    padding: 15px
}

.carpopup .carpopup-foot .left {
    padding: 10px 0 0;
    font-size: 18px
}

.carpopup .carpopup-head {
    padding: 15px;
    font-size: 20px
}

.carpopup .carpopup-body img {
    max-width: 100px;
    background: #eee;
    border: 1px solid #ccc
}

.carpopup .carpopup-body table {
    width: 100%
}

.carpopup .carpopup-body table thead {
    background: #f7f7f7;
    text-transform: uppercase
}

.carpopup .carpopup-body table thead th {
    font-weight: normal;
    padding: 7px 15px;
    white-space: nowrap
}

.carpopup .carpopup-body table td {
    padding: 15px;
    border-bottom: 1px solid #eee
}

.carpopup .carpopup-body table td a {
    color: #333
}

.carpopup .carpopup-body table td.img {
    width: 100px;
    padding-right: 0
}

/*# sourceMappingURL=product-view.css.map */
